
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Email Template</title>
	<style type="text/css">
		body {
			margin: 0;
			padding: 0;
			background-color: #f6f9fc;
		}
		table {
			border-spacing: 0;
		}
		td {
			padding: 0;
		}
		img {
			border: 0;
		}
		.wrapper {
			width: 100%;
			table-layout: fixed;
			background-color:#f6f9fc;
			padding-bottom: 40px; 
		}
		.webkit {
			max-width: 600px;
			background-color: #ffffff;
		}
		.outer {
			Margin: 0 auto;
			width: 100%;
			max-width: 600px;
			border-spacing: 0;
			font-family: sans-serif;
			color: #4a4a4a;
		}
		

		@media screen and (max-width: 600px) { 
		}
		@media screen and (max-width: 400px) { 
		}
	</style>
</head>
<body>
	<!-- wrapper class is for the entire layout
	     table-layout is fixed so that the wrapper is not bigger than the table
	     Margin 0 auto centers element with css -->
	<center class="wrapper">
		<div class = "webkit">
			<table class="outer" align="center">
				<tr>
					<td>
						<table width="100%" style="border-spacing: 0;">
							<tr>
								<td style="background-color: #388CDA; padding: 10px; text-align: center;">
									<a href="#"><img src="{{logo}}"alt="Logo" width ="100" title="logo"></a>
									<p></p>
								</td>
							</tr>
						</table>
					</td>
				</tr>
				<tr>
					<td>
						<a href="#"><img src="{{banner}}" width="600" height="250" alt="Banner" style="max-width: 100%"></a>
						
					</td>
					
				</tr>
				<tr>
						<td>
						<table width="100%" style="border-spacing: 0;">
							<tr>
								<td style="background-color:white; padding: 18px; ">
									<p style="font-size:20px; text-align: center;"><strong>Congratulations {{name}} !</strong></p>
									<p style="font-size:20px; text-align: center; padding-bottom: 5px"><strong>Your registration has been successful!</strong></p>
									<p style="font-size:12px; text-align: center;">Click her to verify your account</p>
									<p style="font-size:12px; text-align: center;"><a href="">Click here</a></p>

								
								
								</td>

								
								
							</tr>
						</table>
					</td>
					
				</tr>
			

				<tr>
					<td>
						<table width="100%" style="border-spacing: 0;">
							<tr>
								<td style="background-color:#388CDA; padding: 15px; text-align:center; ">
									<p style="font-size:12px; color:#ffffff; margin-bottom: 13px;">Connect with us</p>
									<a href="#"><img src="img/white-facebook.png" width="30"></a>
									<a href="#"><img src="img/white-instagram.png" width="30"></a>
									<a href="#"><img src="img/white-linkedin.png" width="30"></a>
									<a href="#"><img src="img/white-twitter.png" width="30"></a>
									<a href="#"><img src="img/white-youtube.png" width="30"></a>
									
								
								</td>

								
								
							</tr>
						</table>
					</td>
				</tr>

				<tr>
					<td style="background-color: #efefef;">
						<table width="100%" style="border-spacing: 0;" >
							<tr>
								<td style="padding: 10px; text-align: center;">
									<a href="#"><img src="{{logo}}"alt="Logo" width ="100" title="logo"></a>
									<p style="font-size: 12px; margin-top:18px;">This email eas sent to {{user_email}}</p>
									<p style="font-size: 12px; margin-top:18px;">You are receiving this email because you are a registered member of <a href="#">{{company_name}}</a></p>
									<p style="font-size: 12px; margin-top:18px;">If you don't want to receive marketing emails in the future, please</p>
									<p style="font-size: 12px; margin-top:18px;"><a href="#">Unsubscribe</a></p>
									<p style="font-size: 12px; margin-top:18px;">Read our <a href="#">Privacy Policy</a> and <a href="#">Terms of Use</a> if you have any questions.</p>
									<p style="font-size: 12px; margin-top:18px;"><a href=#>Company Help Center</a></p>



									
								</td>
							</tr>
							
						</table>
					</td>
				</tr>

			
				
			</table>
		</div>
	</center>

</body>
</html>